body {
    background-color: #e6e2de;
}

header {
    background-color: #9eb5b2;
}

.menu {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 500;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}


ul li a {
    color: black;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.title-big {
    color: black;
    font-size: 60px;
    text-align: center;
    font-style: normal;
    position: relative;
}

.titre1 {
    text-align: center;
    font-style: italic;
    position: relative;
}

.pics {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.produits {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 3px;
}

.promo {
    border: 0;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(64, 64, 58);
    border-radius: 10 px;
    background-color: rgb(248, 173, 243);
    background-image: linear-gradient(to top left, rgb (0, 0, 0, 0.2));
}

.seance {
    border: 0;
    line-height: 1;
    padding: 0, 20 px;
    font-size: 1rem;
    background-color: #9eb5b2;
    background-image: linear-gradient(to top left, rgb (0, 0, 0, 0.2));
}

.thead {
    background-color: #e6e2de;
    border: 1px solid black;
}
th, td  {
    padding: 2rem;
}
/* .panier {
    display: flex;
    align-items: center;
    width:70% ;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 2rem;
    border: 1px solid black;
}
 */



/* FOOTER */
.footer {
    background-color: #9eb5b2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-transform: uppercase;
    list-style: none;
}